/*.navi {
    position: fixed;
    top: 0;
    width: 100%;
}
*/

#usn {
    color: #FFC312;
}

#searchBar{
    width: 99%;
    margin: 10px;
}

.reply {
    border: white;
}

hr {
    margin-right: :-10px
    margin-left:-10px;
}
.comment {  
    background: rgb(46, 46, 46);
    min-height: 100px;
    min-width: 100%;
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.45);
}

#myCarousel {
  width: auto;
  max-height: 450px;
  margin-top: 65px;
}


#commentSearch{
    
}

#reply:hover {   

    background-color: #555;
}

#reply {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.card-block{
    
}

#postImg {
    max-width: 275px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 4px;
    border-radius: 3.5%;
}

.carousel-caption  {
    top: 150px;
    bottom: auto;
}
.carousel-caption h5 {
    text-transform: uppercase;
}
.carousel-inner{
    max-height: 450px;
}

.formWrap .form-inline {
    float: right !important;
}

.piechart {
    background-color: rgb(23, 23, 24);
    align-content: center;
}