.close {
  margin-left: 94.5%;
}
.btn-dark{
  background: rgb(46, 46, 46);
  position: absolute;
  top: 0px;
  right: 0px;

}
.usn {
  color: #FFC312;
  cursor:pointer;
}

#searchBar{
    width: 99%;
    margin: 10px;
}
a:hover {
  color: yellow;
}
hr {
    margin-right: :-10px;
    margin-left:-10px;
}
.comment {  
    background: rgb(46, 46, 46);
    border-left: 2px solid black;

}
.comment1 {  
    background: rgb(46, 46, 46);
    border-left: 4px solid black;

}
.comment, .comment1 p {
	color: white;

}

.modal-content {
  background-color: rgb(46, 46, 46) ;
}

textarea {
  width: 100%;
  min-height: 100px;
  background: rgb(46, 46, 46);
  padding: 10px;
  border: none;
  color: #fff;



}

#card {
	border-width: 2px;
	border: white;
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.47);
}


#myBanner {
  width: auto;
  max-height: 450px;
  margin-top: 65px;
}

#bannerText {
   cursor: pointer;
}

#commentSearch{
    
}

.reply:hover, #replyToDiscussion:hover, #confirmReply:hover, #cancelReply:hover {   

    background-color: #555;
}

.card:hover {  
    background: #232323;

}

#confirmReply, #cancelReply{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.reply, #replyToDiscussion {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;

}

.card-block{
    
}

#postImg {
    max-width: 275px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 4px;
    border-radius: 3.5%;
}


.carousel-caption  {
    top: 150px;
    bottom: auto;
    text-shadow: 1px 2px #000000;
}
.carousel-caption h5 {
    text-transform: uppercase;
    text-shadow: 2px 2px #000000;
}

.carousel-inner{
    max-height: 450px;
}
