.thumbsUp{
    width:100px;
    padding: 20px;
    padding-left: 40px;
    margin-right: 15px;
    font-size: 20px;
    color: cornflowerblue;
    position: relative;
    top: 60px;
}

.thumbContainer{
    cursor: pointer;
    width:10px;
    height: 10px;
    font-size: 16px;
}

.roundButton {
  border-radius: 50%;
}

div.stars{
    float: left;
    right: 5%;
}
   
input.star{
    display: none;
  }
   
label.star {
    float: right;
    padding: 10px;
    font-size: 2vw;
    color: #444;
    transition: all .2s;
}
   
input.star:checked ~ label.star:before {
    content:'\f005';
    color: #FD4;
    transition: all .25s;
}
   
input.star-5:checked ~ label.star:before {
    color:#FE7;
    text-shadow: 0 0 20px #952;
}
   
input.star-1:checked ~ label.star:before {
    color: #F62;
}
   
label.star:hover{
    transform: rotate(-15deg) scale(1.3);
}
   
label.star:before{
    content:'\f006';
    font-family: FontAwesome;
}
  
input.star:checked ~ .rev-box{
    height: 125px;
    overflow: visible;
}

#postsContainer{
    min-height: 100px;
    width: 100%;
    overflow:hidden;
}

.postContent{
    height: 135px;
    color: #EEE;
}

.titleBlock{
    margin-top: 15px;
    margin-left:10px;
}

.upVoteNumber{
  margin: 0;
  font-size: 12px;
}

.marginLeft{
    margin-left:35%;
}

.plusButton {
    width: 100%;
    height: 100%;
    border: 1px solid #39393a;
    background:#66a3ff;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 2vw;
}

#newPost {
    position: fixed;
    right: 3vw;
    top: 90vh;
    width: 3vw;
    height: 3vw;
}

.plusButton:hover {
    background-color:#00b8e6;
}

.button:hover {
    background: #06D85F;
}

.overlay{
    position: fixed;
    left: 0;
    right: 0;
    top:15%;
    width:85vw;
    height: 81vh;
    margin: 0 auto;
    background: rgb(84, 84, 87,0.7);
    padding: 2%;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    overflow:hidden;
    display:none;
}

.inputForm{
    width:100%;
    height:auto;
}

.textCenter {
    text-align:center;
}

.textInput {
    margin-top:1vh;
    height:63vh;
}

.title #inputTitle{
    height:4vh;
}

.indivTitle{
   height:4vh;
   font-size:4vh;
}
  
.topFont {
    font-size: 1.8vw;
}

#subButton {
    cursor: pointer;
    border: 1px solid #39393a;
    background:#66a3ff;
    color: #fff;
    border-radius: 20px/50px;
    width: 7vw;
    height: 5vh;
}
.file {
    cursor: pointer;
    display: inline-block;
    background:#66a3ff;
    border: 1px solid #39393a;
    border-radius: 20px/50px;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 7vw;
    height: 5vh;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.file:hover {
    cursor: pointer;
    text-decoration: none;
}

.fileButton {
    cursor: pointer;
    border: 1px solid #39393a;
    background:#66a3ff;
    color: #fff;
    border-radius: 20px/50px;
    width: 7vw;
    height: 5vh;
}


.submitButtonHolder {
    margin-top:0.5vh;
    width: 7vw;
    height: 5vh;
}

#searchTerm {
    width: 100%;
    border: 2px solid #39393a;
    padding: 5px;
    height: 36px;
    border-radius: 5px;
    outline: none;
    background-color: #39393a 
}
  
#searchTerm:focus{
    color: whitesmoke;
}

.submitButtonHolder {
  height:5vh;
}

.postImg{
    width: 270px;
    height: 175px;
}

.delete{
  position:absolute; 
  top:0; 
  right:0.5vw;
  font-size: 20px;
  color: whitesmoke;
  cursor: pointer;
  opacity: 0.5;
}

.delete:hover {
  opacity: 1;
}

.card-title:hover{
  text-decoration: underline;
  cursor: pointer; 
}

#banner{
    height:400px;
}

#bannerTitle{
    position: relative;
    bottom: 200px
}
