html{
	background-color: #333333;

}


body{
	background-color: #333333 !important;
	/*??? why doesn't this change anything*/
	/*margin-top: 400px;*/

}


#passwordForm{
	margin-top: 70px;
	margin-left:300px;
	margin-right:300px;
	padding:100px;
	background-color: white;
	border-radius: 15px;
}

#saveNewPassword{
	float:right;
}