.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.backGroundImage{
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
}

.slider {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}

.subSectionTitle {
    font-family: 'Bigshot One';
    font-size: 22px;
}

.outLine {
    text-shadow: 0.5px 0 0 #000, 0 -0.5px 0 #000, 0 0.5px 0 #000, -0.5px 0 0 #000;
}

.sectionBox {
    margin-top: 20px;
    width: 100%;
}

.column {
    overflow: hidden;
    position: relative;
    float: left;
    width: 25%;
    height: 12vw;
    padding: 5px;
    transition: 250ms;
  }

.column:hover {
    cursor:pointer;
    transform: scale(1.1);
    visibility:visible;
    transition: all .2s ease-in-out;
    z-index:100;
    position:relative;
    transition-timing-function:cubic-bezier(0.5, 0, 0.1, 1);
    transition-duration:400ms;
}

.title {
    left: 0;
    position:absolute;
    text-align:center;
    top: 25%;
    width: 100%
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
